.button-28 {
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 16px 24px;
  text-align: center;
  width: 85%;
  margin-top: 10px;
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
input {
  width: 30px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#otpBOX {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  flex-direction: column;
  width: 25%;
  padding: 25px;
  border-radius: 20px;
}
